{% block matrix %}
	{% set count = 0 %}
	<script type="text/javascript">
		var bool = 0;
	</script>
	{% for block in entry.matrix.all() %}
		
		{% if block.type == 'textblock' %}
			{% set asset = block.bildImText.one() %}
			{% set count = count+1 %}
			<div class="{{block.sb}}">
			{% if asset %}
			<img src="{{asset.url}}" style="float:{{block.bildposition}}; margin: 5px; width:20%;" >
			{% endif %}
			<p>{{ block.txtblck1 }}</p>
			</div>
		{% endif %}
		{% if block.type == 'gallery' %}
			{% set count = count+1 %}
			<div class="col s12">
				<div class="slider">
					<ul class="slides">
						{# {{ block.galleryfeld }} #}
						{# hier die schleife für Assets #}
						{% for image in block.galleryfeld.all()%}
							{% if image %}
								<li>
									<img class="responsive-img" src="{{image.url}}" width="100%">
									<div class="caption center-align galleriebox">
										<h3>{{image.bildbeschreibung}}</h3>
										<span>Bild von&nbsp{{image.bildauthor}}&nbspQuelle:&nbsp
										<a href="{{image.bildquelle}}">{{image.bildquelle}}</a></span>
										<span>Bildlizenzart:&nbsp{{image.bildlizenz}}</span>
									</div>
								</li>
							{% endif %}
						{% endfor %}
					</ul>
				</div>
			</div>
		{% endif %}
		{% if block.type == 'iframe' %}
			{% set count = count+1 %}
			<div class="col s12">
				<div class="video-container">
					{{ block.iframefield | raw }}
				</div>
			</div>
		{% endif %}
		{% if block.type == 'videos' %}
			{% set count = count+1 %}
			{% set video = block.videoplayer.one() %}
			{% if video %}
				<div class="col s12">
					<video class="responsive-video" controls name="{{video.title}}" width="100%">
						<source src="{{video.url}}" type="video/mp4">
					</video>
				</div>
			{% endif %}
		{% endif %}
		{% if block.type == 'collapse' %}
			{% set count = count+1 %}
			{% set asset = block.collitems.one() %}
			{% if asset %}
				<div class="col s12">
					<ul class="collapsible">
						<div class="col s12"><span class="valign-wrapper"><i class="material-icons">landscape</i>
						{{block.collheader}}</span></div>
						<img class="col s12" src="{{ asset.url }}">
						<li>
							<div class="collapsible-header"><i class="material-icons">info_outline</i>
							</div>
							<div class="collapsible-body">
								{{block.colltext}}
							</div>
						</li>
						<li>
							<div class="collapsible-header"><i class="material-icons">copyright</i>
							</div>
							<div class="collapsible-body">
								<span>{{asset.bildbeschreibung}}</span>
								<span>Bild von&nbsp{{asset.bildauthor}}&nbspQuelle:&nbsp
									<a href="{{asset.bildquelle}}">{{asset.bildquelle}}</a></span>
									<span>Bildlizenzart:&nbsp{{asset.bildlizenz}}</span>
								</div>
							</li>
						</ul>
					</div>
				{% endif %}
			{% endif %}
			{% if block.type == 'zitat' %}
				{% set count = count+1 %}
				<div class="col s12">
					<blockquote>
						<i class="material-icons">format_quote</i>
						{{block.citation}}
						<p style="font-style: italic;">{{block.author}}</p>
					</blockquote>
				</div>
			{% endif %}
			{# --------SUPERTABLE-------- #}
			{% if block.type == 'aufgabe' %}
				{% set count = count+1 %}
				<div class="col s12">
					<ul class="collapsible">
						
						<li>
							<div class="collapsible-header">
								<span class="valign-wrapper">
									{% if block.icon.icon %}
										{{ block.icon.iconSpan|raw }}
									{% endif %}
									&nbsp{{block.kapitel}}.{{block.ukapitel}}&nbsp{{block.aheader}}
								</span>
								
							</div>
							<div class="collapsible-body">
								{# -------HIER KOMMEN DIE AUFGABEN IM SUPERTABLE REIN------- #}
								{% for row in block.superfeld.all() %}
									{% for umatrix in row.aufgabenmatrix.all() %}
										
										{% if umatrix.type == 'matrixtext' %}
											<div>
												{{ umatrix.textfeld }}
											</div>
										{% endif %}
										{% if umatrix.type == 'iframe' %}
											<div class="video-container">
												{{ umatrix.iframefield | raw }}
											</div>
										{% endif %}
									{% endfor %}
								{% endfor %}
							</div>
						</li>
					</ul>
				</div>
			{% endif %}
			{# --------------------SUPERTABLE ENDE---------------- #}
			{# ---------- start Google Dok--------------- #}
			{% if block.type == 'googledokument' %}
				{% set count = count+1 %}
				{% set asset = block.dokument.one() %}
				
				{% if asset %}
					{% set embeddedAsset = craft.embeddedAssets.get(asset) %}
					<div id="embedasset" class="col s12">
						<iframe frameborder="0" src="{{ embeddedAsset.url}}" width="100%" height="600px"></iframe>
						
					</div>
				{% endif %}
			{% endif %}
			{# ---------- Ende Google Dok--------------- #}
			{# --------------------QUIZ START---------------- #}
			{% if block.type == 'quiz' %}
				{% set count = count + 1 %}
				<div class="col s12">
					<ul class="collapsible">
						<li>
							<div class="collapsible-header">
								<span class="valign-wrapper">
									<i class="material-icons">live_help</i>&nbsp{{block.titel}}
								</span>
							</div>
							<div class="collapsible-body">
								{# -------HIER KOMMEN DIE AUFGABEN IM SUPERTABLE REIN------- #}
								{% for row in block.inhalt.all() %}
									{% set qnummer = 0 %}
									
									<div id ="paginateer">
										{% for umatrix in row.quizanlegen.all() %}
											{% if umatrix.type == 'mcFrage' %}
												{% set qnummer = qnummer + 1 %}
												<div id="p{{ qnummer }}">
													{{umatrix.fragetext}}
													{% for row in umatrix.antworten %}
														<p>
															<label>
																<input value="aid{{row.antwortnr}}" name="group{{qnummer}}" class="with-gap" type="radio" />
																<span value="{{row.antwortnr}}">{{row.antworttext}}</span>
															</label>
														</p>
													{% endfor %}
													<button class="waves-effect waves-light btn-small" id="los{{qnummer}}" onclick= "jipee()" >Beantworten
													<i class="material-icons right">send</i>
													</button>
													{% for row in umatrix.antworten %}
														<p class="loes" id="{{qnummer}}aid{{row.antwortnr}}">{{row.loesungstext}}</p>
													{% endfor %}
												{% endif %}
												<p id="output{{qnummer}}"></p>
												{# /*---QUIZ SCRIPT---*/ #}
												
												<script type="text/javascript">
												function jipee(){
												var qnummer = "{{qnummer}}" ;
													if (bool == 0){
														bool = 1;
														qnummer = 1;
													}
													var selector = 'group' + qnummer;
													var coffee = $("input[name=" + selector + "]");
													var id = "";
													var i;
													for (i = 0; i < coffee.length; i++) {
														if (coffee[i].checked) {
															id = coffee[i].value;
														}
													}
													
													id = qnummer + id;
													var loesung = document.getElementById(id).innerHTML;
													document.getElementById("output" + qnummer).innerHTML = loesung;
												}
												</script>
											</div>
										{% endfor %}
									</div>
								{% endfor %}
							</div>
						</li>
					</ul>
				</div>
			{% endif %}
			{# --------------------QUIZ ENDE---------------- #}
			{% if block.type == 'lighthouse' %}
			{% set count = count+1 %}
			{% set asset = block.einzelbild.one() %}
			{% if asset %}
				<div class="{{block.spaltenbreite}}">
					<img class="responsive-img tooltipped" data-position="bottom"
					data-tooltip="{{asset.bildbeschreibung}}" src="{{asset.url}}" width="100%">
				</div>
			{% endif %}
			{% endif %}
		{% endfor %}
		<script type="text/javascript">
		</script>
	{% endblock %}